# Django settings
SECRET_KEY=changeme
DEBUG=True # True because Gunicorn doesn't give static files out directly
ALLOWED_HOSTS=changeme # format:localhost,127.0.0.1,13.60.215.229


# Db settings
DB_NAME=changeme
DB_USER=changeme
DB_PASSWORD=changeme
DB_HOST=db
DB_PORT=5432

# Django admin settings
DJANGO_SUPERUSER_USERNAME=changeme
DJANGO_SUPERUSER_EMAIL=changeme
DJANGO_SUPERUSER_PASSWORD=changeme