<div id="project-list"
     hx-get="{% url 'tracker:project_list' %}"
     hx-trigger="refreshData from:body"
     hx-swap="innerHTML">
    {% for project in projects %}
        <div class="mb-4">
            <div class="project-header">
                <div class="row px-3 py-2 align-items-center justify-content-between">
                    <div class="col-9 d-flex align-items-center gap-3">
                        <i class="bi bi-calendar2 text-dark"></i>
                        <div id="project-name-{{ project.id }}" class="w-100">
                            <p class="m-0 text-light fw-bold project-name">{{ project.name }}</p>
                        </div>
                    </div>

                    <div class="col-3 d-flex justify-content-end project-buttons">
                        <button type="button" class="btn border-end border-dark-subtle"
                                hx-get="{% url 'tracker:project_update' project.id %}"
                                hx-target="#project-name-{{ project.id }}"
                                hx-swap="innerHTML">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button type="button" class="btn" hx-delete="{% url 'tracker:project_delete' project.id %}"
                                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="add-task" hx-get="{% url 'tracker:add_task' project.id %}" hx-trigger="load">
            </div>
            <div class="task-list" hx-get="{% url 'tracker:task_list' project.id %}" hx-trigger="load">
            </div>
        </div>
    {% endfor %}
</div>