<form hx-post="{% url 'tracker:project_update' project.id %}"
      class="w-100">
    {% csrf_token %}
    <div class="d-flex align-items-center gap-3">
        <input type="text" class="form-control" name="name" value="{{ project.name }}">
        <button type="submit" class="btn btn-success">
            <i class="bi bi-check-lg"></i>
        </button>
        <button type="button" class="btn btn-danger"
                hx-get="{% url 'tracker:project_detail' project.id %}"
                hx-target="#project-name-{{ project.id }}"
                hx-swap="innerHTML">
            <i class="bi bi-x"></i>
        </button>
    </div>
</form>