{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
            <form method="post" class="custom-form">
                {% csrf_token %}
                <legend class="mb-4 text-center fs-1 fw-bold custom-form-title">
                    Log in
                </legend>

                {{ form|crispy }}

                <button type="submit" class="btn btn-light w-100 mt-2 custom-form-btn">
                    Log in to your account
                </button>

                <p class="text-center mt-3 mb-0">
                    Don’t have an account?
                    <a href="{% url 'account_signup' %}" class="fw-semibold">
                        Sign up
                    </a>
                </p>
            </form>
        </div>
    </div>
{% endblock content %}