{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock title %}

{% block content %}
    <nav class="custom-navbar">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="custom-navbar-logo" href="{% url 'tracker:dashboard' %}">Task Tracker</a>

            {% if request.user.is_authenticated %}
                <div class="d-flex align-items-center gap-3">
                    <span class="custom-navbar-username">{{ request.user.username }}</span>
                    <a href="{% url 'account_logout' %}" class="custom-navbar-link">Logout</a>
                </div>
            {% else %}
                <div class="d-flex align-items-center gap-2">
                    <a href="{% url 'account_login' %}" class="custom-navbar-link">Login</a>
                    <span class="text-light fw-bold">or</span>
                    <a href="{% url 'account_signup' %}" class="custom-navbar-link">Register</a>
                </div>
            {% endif %}
        </div>
    </nav>

    <div x-data="{ open: false }"
         x-init="window.addEventListener('closeModal', () => { open = false })">

        <div class="container mt-4"
             hx-get="{% url 'tracker:project_list' %}"
             hx-trigger="load">
        </div>

        <div class="container">
            <button class="add-todo-btn" @click="open = true"
                    hx-get="{% url 'tracker:project_add' %}"
                    hx-target="#createTodoForm"
                    hx-swap="innerHTML">
                <i class="bi bi-plus-square"></i>
                Add TODO List
            </button>
        </div>

        <!-- Blackout -->
        <div class="todo-overlay"
             x-show="open"
             @click="open = false"
             x-transition.opacity>
        </div>

        <!-- Add TODO form -->
        <div class="todo-modal" x-show="open">
            <div id="createTodoForm"></div>
        </div>

    </div>
{% endblock content %}